:root [data-theme=default] {
    --g-theme-color: var(--el-color-primary);
    --g-app-bg: var(--el-bg-color);
    --g-main-bg: var(--el-bg-color-page);
    --g-border-color: var(--el-border-color-lighter);
    --g-header-bg: #222b45;
    --g-header-color: #fff;
    --g-header-menu-color: #fff;
    --g-header-menu-hover-color: #fff;
    --g-header-menu-hover-bg: #334067;
    --g-header-menu-active-color: #fff;
    --g-header-menu-active-bg: #334067;
    --g-main-sidebar-bg: #222b45;
    --g-main-sidebar-menu-color: #eee;
    --g-main-sidebar-menu-hover-color: #fff;
    --g-main-sidebar-menu-hover-bg: #334067;
    --g-main-sidebar-menu-active-color: #fff;
    --g-main-sidebar-menu-active-bg: #334067;
    --g-sub-sidebar-bg: #fff;
    --g-sub-sidebar-logo-bg: #222b45;
    --g-sub-sidebar-logo-color: #fff;
    --g-sub-sidebar-menu-bg: #e8e8e8;
    --g-sub-sidebar-menu-color: var(--el-text-color-primary);
    --g-sub-sidebar-menu-hover-color: var(--el-text-color-primary);
    --g-sub-sidebar-menu-hover-bg: #e1e1e1;
    --g-sub-sidebar-menu-active-color: #fff;
    --g-sub-sidebar-menu-active-bg: var(--el-color-primary);
    --g-badge-bg: var(--el-color-danger);
    --g-badge-color: #fff;
    --g-badge-border-color: #fff;
    --g-tabbar-bg: var(--el-bg-color-page);
    --g-tabbar-dividers-bg: var(--el-border-color-darker);
    --g-tabbar-tab-color: var(--el-text-color-placeholder);
    --g-tabbar-tab-hover-color: var(--el-text-color-placeholder);
    --g-tabbar-tab-hover-bg: var(--el-fill-color-lighter);
    --g-tabbar-tab-active-color: var(--el-text-color-regular);
    --g-tabbar-tab-active-bg: var(--el-bg-color);
    --g-toolbar-bg: var(--el-bg-color);
    --g-nprogress-color: var(--el-color-primary);
}

:root {
    --mx-menu-backgroud: #fff;
    --mx-menu-hover-backgroud: #f1f1f1;
    --mx-menu-active-backgroud: #dfdfdf;
    --mx-menu-open-backgroud: #f1f1f1;
    --mx-menu-divider: #f0f0f0;
    --mx-menu-text: #2e2e2e;
    --mx-menu-hover-text: #2e2e2e;
    --mx-menu-active-text: #2e2e2e;
    --mx-menu-open-text: #2e2e2e;
    --mx-menu-disabled-text: #c9c8c8;
    --mx-menu-shadow-color: rgba(0,0,0,.1);
    --mx-menu-backgroud-radius: 10px;
    --mx-menu-shortcut-backgroud: #ebebeb;
    --mx-menu-shortcut-backgroud-hover: #ebebeb;
    --mx-menu-shortcut-backgroud-active: #ebebeb;
    --mx-menu-shortcut-backgroud-open: #ebebeb;
    --mx-menu-shortcut-backgroud-disabled: #fdfdfd;
    --mx-menu-shortcut-text: #424242;
    --mx-menu-shortcut-text-hover: #424242;
    --mx-menu-shortcut-text-active: #424242;
    --mx-menu-shortcut-text-open: #424242;
    --mx-menu-shortcut-text-disabled: #a5a5a5;
    --mx-menu-focus-color: #0085f1;
    --mx-menu-placeholder-width: 24px;
}

:root {
    --g-box-shadow-color: rgb(0 0 0 / 12%);
}

:root {
    --g-app-width: 1400px;
    --g-header-width: 100%;
    --g-header-height: 80px;
    --g-main-sidebar-width: 90px;
    --g-sub-sidebar-width: 220px;
    --g-sub-sidebar-collapse-width: 64px;
    --g-sidebar-logo-height: 50px;
    --g-tabbar-height: 50px;
    --g-toolbar-height: 50px;
    --g-tabbar-tab-max-width: 150px;
    --g-tabbar-tab-min-width: 150px;
}

:root {
    --el-menu-active-color: var(--el-color-primary);
    --el-menu-text-color: var(--el-text-color-primary);
    --el-menu-hover-text-color: var(--el-color-primary);
    --el-menu-bg-color: var(--el-fill-color-blank);
    --el-menu-hover-bg-color: var(--el-color-primary-light-9);
    --el-menu-item-height: 56px;
    --el-menu-sub-item-height: calc(var(--el-menu-item-height) - 6px);
    --el-menu-horizontal-sub-item-height: 36px;
    --el-menu-item-font-size: var(--el-font-size-base);
    --el-menu-item-hover-fill: var(--el-color-primary-light-9);
    --el-menu-border-color: var(--el-border-color);
    --el-menu-base-level-padding: 20px;
    --el-menu-level-padding: 20px;
    --el-menu-icon-width: 24px;
}

:root {
    --el-loading-spinner-size: 42px;
    --el-loading-fullscreen-spinner-size: 50px;
}

:root {
    --el-popup-modal-bg-color: var(--el-color-black);
    --el-popup-modal-opacity: .5;
}

/* 自定义全局可选择样式 */
:root {
    --zh-left-width: 220px;
}

:root.dark [data-theme=default] {
    --g-theme-color: var(--el-color-primary-light-3);
    --g-app-bg: var(--el-bg-color);
    --g-main-bg: var(--el-bg-color-page);
    --g-border-color: var(--el-bg-color-page);
    --g-header-bg: var(--el-bg-color);
    --g-header-color: #fff;
    --g-header-menu-color: #ccc;
    --g-header-menu-hover-color: #fff;
    --g-header-menu-hover-bg: var(--el-color-primary-light-5);
    --g-header-menu-active-color: #fff;
    --g-header-menu-active-bg: var(--el-color-primary-light-3);
    --g-main-sidebar-bg: var(--el-bg-color);
    --g-main-sidebar-menu-color: #ccc;
    --g-main-sidebar-menu-hover-color: #fff;
    --g-main-sidebar-menu-hover-bg: var(--el-color-primary-light-5);
    --g-main-sidebar-menu-active-color: #fff;
    --g-main-sidebar-menu-active-bg: var(--el-color-primary-light-3);
    --g-sub-sidebar-bg: var(--el-bg-color-page);
    --g-sub-sidebar-logo-bg: var(--el-bg-color);
    --g-sub-sidebar-logo-color: var(--el-text-color-primary);
    --g-sub-sidebar-menu-bg: var(--el-bg-color);
    --g-sub-sidebar-menu-color: var(--el-text-color-secondary);
    --g-sub-sidebar-menu-hover-color: var(--el-text-color-primary);
    --g-sub-sidebar-menu-hover-bg: var(--el-color-primary-light-5);
    --g-sub-sidebar-menu-active-color: var(--el-text-color-primary);
    --g-sub-sidebar-menu-active-bg: var(--el-color-primary-light-3);
    --g-badge-bg: var(--el-color-danger);
    --g-badge-color: #fff;
    --g-badge-border-color: #fff;
    --g-tabbar-bg: var(--el-bg-color-page);
    --g-tabbar-dividers-bg: var(--el-border-color-darker);
    --g-tabbar-tab-color: var(--el-text-color-placeholder);
    --g-tabbar-tab-hover-color: var(--el-text-color-placeholder);
    --g-tabbar-tab-hover-bg: var(--el-fill-color-lighter);
    --g-tabbar-tab-active-color: var(--el-text-color-regular);
    --g-tabbar-tab-active-bg: var(--el-bg-color);
    --g-toolbar-bg: var(--el-bg-color);
    --g-nprogress-color: var(--el-color-primary);
}

:root.dark {
    --g-box-shadow-color: rgb(0 0 0 / 72%);
}

html.dark {
    color-scheme: dark;
    --el-color-primary: #409eff;
    --el-color-primary-light-3: #3375b9;
    --el-color-primary-light-5: #2a598a;
    --el-color-primary-light-7: #213d5b;
    --el-color-primary-light-8: #1d3043;
    --el-color-primary-light-9: #18222c;
    --el-color-primary-dark-2: #66b1ff;
    --el-color-success: #67c23a;
    --el-color-success-light-3: #4e8e2f;
    --el-color-success-light-5: #3e6b27;
    --el-color-success-light-7: #2d481f;
    --el-color-success-light-8: #25371c;
    --el-color-success-light-9: #1c2518;
    --el-color-success-dark-2: #85ce61;
    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: #a77730;
    --el-color-warning-light-5: #7d5b28;
    --el-color-warning-light-7: #533f20;
    --el-color-warning-light-8: #3e301c;
    --el-color-warning-light-9: #292218;
    --el-color-warning-dark-2: #ebb563;
    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: #b25252;
    --el-color-danger-light-5: #854040;
    --el-color-danger-light-7: #582e2e;
    --el-color-danger-light-8: #412626;
    --el-color-danger-light-9: #2b1d1d;
    --el-color-danger-dark-2: #f78989;
    --el-color-error: #f56c6c;
    --el-color-error-light-3: #b25252;
    --el-color-error-light-5: #854040;
    --el-color-error-light-7: #582e2e;
    --el-color-error-light-8: #412626;
    --el-color-error-light-9: #2b1d1d;
    --el-color-error-dark-2: #f78989;
    --el-color-info: #909399;
    --el-color-info-light-3: #6b6d71;
    --el-color-info-light-5: #525457;
    --el-color-info-light-7: #393a3c;
    --el-color-info-light-8: #2d2d2f;
    --el-color-info-light-9: #202121;
    --el-color-info-dark-2: #a6a9ad;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .36), 0px 8px 20px rgba(0, 0, 0, .72);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .72);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .72);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
    --el-bg-color-page: #0a0a0a;
    --el-bg-color: #141414;
    --el-bg-color-overlay: #1d1e1f;
    --el-text-color-primary: #E5EAF3;
    --el-text-color-regular: #CFD3DC;
    --el-text-color-secondary: #A3A6AD;
    --el-text-color-placeholder: #8D9095;
    --el-text-color-disabled: #6C6E72;
    --el-border-color-darker: #636466;
    --el-border-color-dark: #58585B;
    --el-border-color: #4C4D4F;
    --el-border-color-light: #414243;
    --el-border-color-lighter: #363637;
    --el-border-color-extra-light: #2B2B2C;
    --el-fill-color-darker: #424243;
    --el-fill-color-dark: #39393A;
    --el-fill-color: #303030;
    --el-fill-color-light: #262727;
    --el-fill-color-lighter: #1D1D1D;
    --el-fill-color-extra-light: #191919;
    --el-fill-color-blank: transparent;
    --el-mask-color: rgba(0, 0, 0, .8);
    --el-mask-color-extra-light: rgba(0, 0, 0, .3);
}